Code/__pycache__/*
prospector/venv/*
venv/*
.venv/*
Code/resources/__pycache__/*
.DS_Store
Data/*
Code/official-cpe-dictionary_v2.3.xml
Code/debian-list.txt
patchesdir/*
prospector/prospector.log*
prospector/reports/*
prospector/cli/__pycache__/*
prospector/filtering/__pycache__/*
prospector/git/__pycache__/*
prospector/core/__pycache__/*
prospector/datamodel/__pycache__/*
prospector/log/__pycache__/*
prospector/rules/__pycache__/*
prospector/stats/__pycache__/*
prospector/util/__pycache__/*
temp.dump
tests/__pycache__/conftest.cpython-310-pytest-7.4.0.pyc

Code/official-cpe-dictionary_v2.3.xml.zip

# Rule generation temp files
tmp/
sast_rule_agent_temp/venv/
sast_rule_agent_temp/__pycache__/
sast_rule_agent_temp/logs/
sast_rule_agent_temp/.env

.env

Code/resources/advisory-database/advisories/*